.card {
  background: rgba(255, 255, 255, 0.176);
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 10px 5px #9130be32;
  animation: glowShadow 1.5s linear infinite alternate;
  height: fit-content;
  padding: 0.5em;
}

#name {
  font-size: 0.6rem;
  position: absolute;
  left:2em;
  top: 10em;
  width: 11em;
}

#photoshop {
  font-size: 0.4rem;
  position: absolute;
  right: 1em;
  top: 32em;
  order: 2;
}
.colour {
  object-fit: contain;
  height: 2em;
  width: 1.5em;
  margin-right: 0.3em;
}
.icons {
  object-fit: contain;
  height: 2.5em;
  width: 2.5em;
}

#wp {
  font-size: 0.5rem;
  position: absolute;
  left: 1em;
  top: 32em;
  order: 2;
}

.floating {
  animation: floating 4s ease-in-out infinite;
}

.floating-box-content {
  color: #fff;
  text-align: center;
  font-weight: 500;
}

.maca {
  font-weight: 700;
}

.circle {
  height: 10em;
  width: 10em;
  order: 1;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 5px #747de8;
  animation: glowShadow 1.5s linear infinite alternate;
  background-image: url("./images/my-photo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#dev {
  color: transparent;
  font-size: 1.7rem;
  padding-top: 1.5em;
  text-align: center;

  background-image: linear-gradient(
    to left,
    #ffbe0b,
    #fb075c,
    #fb07d6,
    #f8d9d9,
    rgb(250, 239, 239)
  );
  -webkit-background-clip: text;
  animation: animate 6s linear infinite;
  background-size: 500%;
}

@keyframes animate {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 100%;
  }
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}

@keyframes glowShadow {
  to {
    box-shadow: 0px 0px 10px 5px #ed539b;
  }
}

/*MEDIA QUERY*/







@media (min-width: 23em ) and (max-width:26em) {
 .circle {
    width: 12em;
    height: 12em;
  }

  #name {
  font-size: 0.7rem;
  top:7em

}
  #photoshop {
  font-size: 0.5rem;
  top: 25em;
}
#wp {
  font-size: 0.5rem;
}
}
@media (min-width: 26em ){
    .circle {
    width: 15em;
    height: 15em;
  }

  #name {
  font-size: 0.8rem;
  top: 8em;
}
  #photoshop {
  font-size: 0.6rem;
  top: 25em;
}
#wp {
  font-size: 0.6rem;
}
}
@media( min-width:32.5em){
  #name{
    font-size: 0.9rem;
    top:6em;
    left: 2em;
  }
  #photoshop{
    top:19em;
    right: 1em;
    font-size: 0.7rem;
  }
  #wp{
    top:29em;
    left: 3em;
    font-size: 0.7rem;
  }

}
@media(min-width:37em){
  #name{
    left: 4em;

  }
  #photoshop{
    right: 3em;
  }
  #wp{
top: 26em;
left: 3em;
  }
}
@media(min-width:39em){
   #name{
    left: 5em;

  }
  #photoshop{
    right: 4em;
  }
  #wp{
left: 5em;
  }
}

@media (min-width:42em){
  .circle{
    width: 25em;
    height: 25em;
  }
  #name{
    font-size: 1.1rem;
    top:4em;
    left: 8em;
  }
  #photoshop{
    font-size: 1rem;
    top:19em;
    right:3em
  }
  #wp{
    font-size: 0.9rem;
    top: 30em;
  }
}

@media(min-width:62em) {
 
  .circle{
    width: 20em;
    height: 20em;
  }
  #name{
    top: 3em;
    left: 20em;
    font-size: 1.1rem;
  }

  #photoshop{

    font-size: 1rem;
    top:15em;
    right: 17em;

  }
  #wp{
    font-size: 0.8rem;
    top: 30em;
    left: 27em;
  }

}
@media(min-width: 90em){
  .circle{
    width: 25em;
    height: 25em;
  }
  #name{
    top:8%;
    left: 28%;
    font-size: 1.3rem;
  }
  #photoshop{
    right: 22%;
    font-size: 1.1rem;
  }
  #wp{
    font-size: 1rem;
    right: 60%;
  }

}