* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html:focus-within {
  scroll-behavior: smooth;
}

.menu-item{
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}
.menu-item:hover{
  color: transparent;
  background-image: linear-gradient(
    to left,
    #ffbe0b,
    #fb07d6,
    rgb(250, 239, 239)
  );
  -webkit-background-clip: text;
    background-clip: text;

  background-size: 2em

}

input,
button,
textarea,
select {
  font: inherit;
}

.row {
  display: flex;
}
.align-right {
  justify-content: right;
}
.align-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
ul {
  list-style: none;
}
ul > li {
  padding: 1em;
  font-size: 1.2rem;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}
.hidden {
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}
